.nav-li li{
  display: inline-block;
  padding: 10px;
}

ul.nav-li {
margin-top: 0px;
padding: 0px;
background-color: skyblue;
}
ul.nav-li a {
  text-decoration: auto;
  color: #1e3a2d;
  font-size: 20px;
  font-family: ui-monospace;
}
.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background-color:skyblue;

}
.register-page{
  margin-left: 30%;
}
.register-input{
  display: block;
  margin: 10px;
  width: 30%;
  border-radius: 8px;
  border: 2px solid #87ceeb;
  padding: 10px;
}
.register-btn{
  background: #87ceeb;
  color: #000000;
  font-size: 23px;
  border-radius: 14px;
  border-color: #87ceeb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
